
    @import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Work+Sans|Black+Ops+One');

    @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

    body {
      background: #274A8D;
      color: white;
      font-family: 'Work Sans', sans-serif;
      font-size: 20px;
      margin: 70px 0;
    }

    div#huntr-react-container {
      padding-top: 3rem;
    }

    span.notification-content {
      color: #ffe476;
      display: flex;
      justify-content: center;
      padding: 1rem;
    }

    .chatbar {
      background: #F8FAF9;
      border-top: 1px solid black;
      bottom: 0;
      display: flex;
      left: 0;
      padding: 5px;
      position: fixed;
      right: 0;
    }

    span.message-content {
      background: #1f3d77;
      padding: 1.5rem;
      border-radius: 6px;
  }

    .chatbar-message,
    .chatbar-username {
      border: 1px solid black;
      border-radius: 3px;
      display: block;
      height: 40px;
      line-height: 40px;
      margin: 1rem 3rem 1rem 3rem;
      padding: 0 9px;
    }

    .chatbar-message {
      flex: 8;
    }

    .chatbar-username {
      flex: 2;
    }

    .message {
      display: flex;
      padding: 5px 10px 5px 25px;
    }

    .message.system {
      font-style: italic;
      padding: 5px 20px;
    }

    .message-content,
    .message-username {
      overflow: hidden;
      margin: 5px;
      padding: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .message-content {
      flex: 8;
    }

    .message-username {
      flex: 2;
      font-weight: 700;
    }

    .navbar {
      background: #F8FAF9;
      color: #274A8D;
      border-bottom: 1px solid black;
      height: 90px;
      left: 0;
      display: flex;
      padding: 0 10px;
      position: fixed;
      right: 0;
      top: 0;
      justify-content: space-between;
      align-items: center;
    }

    .navbar-brand {
      color: inherit;
      display: block;
      float: left;
      font-family: 'Montserrat Alternates', sans-serif;
      font-weight: 700;
      font-size: 2.5rem;
      height: 60px;
      line-height: 60px;
      padding: 0 10px;
      text-decoration: none;
    }

    p {
      float: right;
      margin-top: 20px;
    }

    i {
      margin: 0 1rem 0 1rem;
    }